/* ========================= RESET ========================= */
* { margin:0; padding:0; box-sizing:border-box; }
html, body, #root, .App { height:100%; margin:0; display:flex; flex-direction:column; }
html { background-color:var(--darker-purple-color); }

/* ========================= VARIABLES ========================= */
:root { --accent-purple:#3d2b45; --dark-purple-color:#644c86; --darker-purple-color:#281d2d; --highlight-red:#9b0808;
    --light-green-color:rgb(187,247,208); --light-pink-color:#f0e7f4; --light-purple-color:#c1b2d2; --light-purpwhite-color:#f0e7f4;
    --lighter-line-color:#3d2b45; --medium-purple-color:#ae9fdb;
    --lighter-purple-color:#ad9ad9;

    --primary-font:Barlow,"Helvetica Neue",sans-serif; --secondary-font:URANIA,"American Typewriter","Comic Sans MS",sans-serif; --tertiary-font:"American Typewriter","Comic Sans MS",sans-serif; }

/* ========================= MAIN APP ========================= */
.App { flex:1; display:flex; flex-direction:column; background-color:var(--highlight-red); }

/* ========================= MESSAGE CONTAINER ========================= */
.message-container { position:fixed; top:0; left:0; right:0; background:var(--highlight-red); color:white; z-index:999; text-align:center; height:32px; }
.message-content { padding:8px 20px; font-family:var(--secondary-font); font-size:15px; font-weight:bold; letter-spacing:1px; line-height:1; }
.App .header { top:32px !important; }
.App .header-bottom-fixed { top:calc(132px) !important; }
.App .main-content { flex:1; padding-top:calc(190px + 32px) !important; }

/* ========================= FOOTER ========================= */
.footer { background-color:#281d2d; color:white; text-align:center; padding-bottom:20px; padding-top:30px; overflow:visible; margin-top:auto; position:relative; z-index:1; }
.footer p { font-family:var(--secondary-font); font-size:15px; word-spacing:1px; }
.footer .footer-top-divider { position:absolute; left:0; top:0; width:100%; pointer-events:none; background:transparent !important; z-index:2; }
.footer .footer-top-divider img { display:block; width:100%; height:auto; position:relative; top:-12vw; background:transparent !important; pointer-events:none; }
.footer-email { display:flex; align-items:center; justify-content:center; gap:10px; font-size:18px; color:white; margin-bottom:20px; }
.footer-email .material-symbols-outlined { font-size:24px; color:white; }
.footer-email a { text-decoration:none; color:var(--highlight-red); font-family:var(--primary-font); font-size:22px; letter-spacing:0.15em; }
.footer-email a:hover { color:white; text-decoration:none; }
.footer-email a span { color:var(--light-pink-color); font-size:19px; font-weight:700; }
.footer-middle { text-align:center; margin:20px 0; }
.footer-middle .social-media-icons { display:inline-flex; gap:20px; justify-content:center; align-items:center; }
.footer-middle .social-media-icons .icon { width:24px; height:24px; display:inline-block; }
.footer-top { margin-bottom:20px; margin-top:10px; }
.footer-top h1 { font-family:var(--primary-font); font-size:60px; margin-bottom:5px; }
.footer-top p { font-family:var(--secondary-font); font-size:20px; margin-bottom:15px; }
.footer-top p span { font-family:var(--secondary-font); font-size:20px; font-weight:bold; color:var(--light-purple-color); }

/* ========================= TYPOGRAPHY / FONTS ========================= */
@font-face { font-family:'Typeka'; src:url('../fonts/TypekaBoldA Regular.ttf') format('truetype'); font-weight:normal; font-style:normal; }
@font-face { font-family:'Helvetica Neue'; src:url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeueHeavyCondensed.otf') format('opentype'); font-style:normal; font-display:swap; }
@font-face { font-family:'Barlow'; src:url('../fonts/BarlowSemiCondensed-Bold.ttf') format('truetype'); font-style:normal; }
@font-face { font-family:'URANIA'; src:url("../fonts/URANIA CZECH.ttf") format('truetype'); font-style:normal; }

/* ========================= HEADLINE ========================= */
.headline { background:#efe7f4; padding:40px 0 0 40px; text-align:left; }
.headline-inner { position:relative; display:inline-block; }
.headline .eyebrow { position:absolute; left:0; bottom:calc(90%); margin:0; font-family:var(--secondary-font); font-weight:600; letter-spacing:.05em; color:var(--highlight-red); font-size:clamp(0.9rem,1.6vw,1.4rem); z-index:2; }
.headline h1 { margin:0; color:var(--accent-purple); font-family:var(--primary-font); font-weight:700; letter-spacing:-0.01rem; line-height:1; font-size:clamp(2.6rem,8vw,5.2rem); z-index:1; }

/* ========================= RESPONSIVE TWEAKS ========================= */
@media (max-width:768px) { .headline .eyebrow { bottom:calc(90%); } .headline { padding:40px 0 0 20px; } .footer { padding-top:36px; } .footer .footer-top-divider img { top:-64px; } .App .header-bottom-fixed { top:calc(162px) !important; } .App .main-content { padding-top:calc(222px) !important; } }
@media (max-width:540px) { .headline .eyebrow { bottom:calc(90%); } .footer .footer-top-divider img { top:-54px; } .footer-top h1 { font-size:30px; } .footer p { font-size:15px; margin-bottom:10px; } .headline { padding:25px 0 10px 5px; } .App .main-content { padding-top:calc(242px) !important; } }
@media (max-width:440px) { .footer-top h1 { font-size:30px; } .footer p { font-size:13px; margin-bottom:10px; } .footer-top p { font-family:var(--secondary-font); font-size:15px; margin-bottom:15px; } }
@media (max-width:400px) { .footer-top h1 { font-size:30px; } .footer p { font-size:11px; margin-bottom:10px; } .footer-top p { font-family:var(--secondary-font); font-size:14px; margin-bottom:15px; } }
