/* ========================= SEARCH BAR ========================= */
.search-bar-wrapper { position:fixed; top:200px; left:0; width:100%; z-index:1001; background-color:var(--darker-purple-color); padding:30px 0; display:flex; justify-content:center; font-family:var(--secondary-font); }
.search-bar-embedded { background-color:orange; padding:30px 0; display:flex; justify-content:center; width:100%; }

/* ========================= RESPONSIVE ========================= */
@media (max-width:1024px){ .search-bar-wrapper { top:175px; } }
@media (max-width:768px){ .search-bar-wrapper { top:195px; } }
@media (max-width:480px){ .search-bar-wrapper { top:180px; } }
